@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">
                    Boarding passes
                </h2>
            </div>
            <div class="col-6 text-end">
                
            </div>
        </div>
    </div>
    <br /><br /><br />

    <table id="tblData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Second Name
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Birth date
                </th>
                <th>
                    Route
                </th>
                <th>
                    Seating place
                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/js/boardingPasses.js"></script>
}