@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div container>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">
                    Boarding passes
                </h2>
            </div>
            <div class="col-6 text-end">
                
            </div>
        </div>
    </div>
    <br /><br /><br />

    <table id="tblData" class="table table-bordered table-striped">

    </table>
</div>