/* _content/TicketSystemWeb/Areas/User/Views/Home/Index.cshtml.rz.scp.css */
body[b-p8yrnb09ns] {
}

/*.bg-img {
    background-image: url("img/about-bg.png"); 
    max-width: 100%;
    height: auto;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}*/

.ticket-form[b-p8yrnb09ns] {
    background: url("img/about-bg.png") top center no-repeat;
    margin-top: 20px;
    padding: 140px 0;
    position: relative;
}

.section-title[b-p8yrnb09ns] {
    text-align: center;
    padding-bottom: 30px;
}
/* _content/TicketSystemWeb/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4eavrht2i5] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4eavrht2i5] {
  color: #0077cc;
}

.btn-primary[b-4eavrht2i5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4eavrht2i5], .nav-pills .show > .nav-link[b-4eavrht2i5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4eavrht2i5] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4eavrht2i5] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4eavrht2i5] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4eavrht2i5] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4eavrht2i5] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
